body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #e0f8e9, #b2e3c5, #7dcfb6, #48b6a1);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    height: 100vh;
    font-family: "Kanit", sans-serif;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}